<nav style="border-radius: 5px 5px 0 0; border:1px solid rgba(0,0,0,.125);border-bottom:none; background-color: rgba(0,0,0,.03);" class="navbar navbar-expand-sm navbar-primary">
    <div class="container">
        <a class="navbar-brand" routerLink = "/">Movie App</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink = "/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink = "/movies">Movies</a>
            </li>
        </ul>
    </div>
</nav>
<!--/.Navbar -->